$body-bg: #0f0f0f;
$main-color: #ff0000;
$main-color-hover: #e60000;
$txt-color: #fff;
$orange-light-color: #fe902c;
$yellow-light-color: #e4ba25;

$white: #fff;
$black: #000;
$grey: #323233;
$grey-light: #454544;
$grey-light-hover: #545554;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;
